[submodule "custom_bash/.config/custom_bash"]
	path = custom_bash/.config/custom_bash
	url = git@sahas_gh:Sahas-Ananth/custom_bash.git
[submodule "kitty/.config/kitty"]
	path = kitty/.config/kitty
	url = git@sahas_gh:Sahas-Ananth/kitty_config.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@sahas_gh:Sahas-Ananth/nvim_config.git
[submodule "espanso/.config/espanso"]
	path = espanso/.config/espanso
	url = git@sahas_gh:Sahas-Ananth/espanso-customizations.git
